.features
    @include page-padding
    @include block-margin
    @include flex-col(center, center)

    &__slide
        display: grid
        grid-template: 100% / 50% 50%
        width: 100%
        margin: 4rem auto

    &__img-wrap
            position: relative
            justify-self: flex-end
            padding-right: 15%
    
    &__img
        max-height: 350px
        width: 100%
        position: relative
        z-index: 1
        object-fit: contain
        

    &__text
        max-width: 85%
        padding-left: 10%
        @include flex-col(center, flex-start)

    &__img_bg
        z-index: 0
        height: 100%
        transform: rotate(180deg) translate(75%,-20%)

    &__tabs
        margin-top: 4rem
        border-bottom: 1px solid $gray
        display: grid
        grid-template: 1fr / repeat(3, 1fr)

        &_button
            border-style: none
            background-color: transparent
            color: $gray
            font-size: 0.75rem
            font-weight: 400
            padding: 1rem 2rem
            cursor: pointer

            &-active
                margin-bottom: -1px
                border-bottom: 3px solid red

            &:hover 
                color: $red

            &:focus 
                outline: none

