@mixin page-padding($top-bot: 0,$left-right: 10%)
    padding: $top-bot $left-right


@mixin block-margin
    margin: 2.5rem 0

@mixin flex-row($justify, $align)
    display: flex
    justify-content: $justify
    align-items: $align

@mixin flex-col($justify, $align)
    display: flex
    flex-direction: column
    justify-content: $justify
    align-items: $align
