@import url("https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap");
* {
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #252b46;
  font-weight: 500;
  line-height: 120%;
}

html {
  overflow-x: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
  width: 100%;
  margin: 0 auto;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

p {
  color: #9194a1;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 135%;
  margin-bottom: 1rem;
}

ul {
  list-style: none;
}

.description {
  text-align: center;
  max-width: 40%;
}

.text {
  max-width: 85%;
}

.button {
  color: white;
  font-weight: 400;
  background-color: #5368df;
  border: none;
  border-radius: 3px;
  font-size: 0.6rem;
  padding: 0.5rem 1rem;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover {
  color: #5368df;
  background-color: white;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px #5368df;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px #5368df;
}

.img__bg {
  background-color: #5368df;
  width: 50rem;
  height: 75%;
  border-radius: 10rem 0 0 10rem;
  position: absolute;
  z-index: 0;
  top: 0;
}

.faq {
  padding: 0 10%;
}

.features {
  padding: 0 10%;
  margin: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__slide {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template: 100% / 50% 50%;
  width: 100%;
}

.features__img-wrap {
  position: relative;
  justify-self: flex-end;
  padding-right: 15%;
  height: 350px;
}

.features__img {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  -o-object-fit: contain;
     object-fit: contain;
}

.features__text {
  max-width: 85%;
  padding-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__img_bg {
  z-index: 0;
  height: 250px;
  -webkit-transform: translate(-65%, 40%);
          transform: translate(-65%, 40%);
  border-radius: 0 10rem 10rem 0;
}

.features__tabs {
  margin-top: 4rem;
  border-bottom: 1px solid #9194a1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: (1fr)[3];
      grid-template: 1fr/repeat(3, 1fr);
}

.features__tabs_button {
  border-style: none;
  background-color: transparent;
  color: #9194a1;
  font-size: 0.75rem;
  font-weight: 400;
  padding: 1rem 2rem;
  cursor: pointer;
}

.features__tabs_button-active {
  margin-bottom: -1px;
  border-bottom: 3px solid red;
}

.features__tabs_button:hover {
  color: #fa5757;
}

.features__tabs_button:focus {
  outline: none;
}

.download {
  padding: 0 10%;
}

.header {
  padding: 0 10%;
  margin: 2.5rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100%;
  -ms-grid-columns: 50% 50%;
      grid-template: 100% / 50% 50%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_text * {
  margin: 0.75rem 0;
}

.header__img-wrap {
  position: relative;
  margin-right: -10%;
}

.header__img {
  width: 100%;
  position: relative;
  z-index: 1;
}

.header__button_firefox {
  background-color: rgba(145, 148, 161, 0.05);
  margin-left: 0.5rem;
  color: #252b46;
}

.img__bg-header {
  -webkit-transform: translate(15%, 40%);
          transform: translate(15%, 40%);
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 10%;
}

.nav__link-wrap {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  font-size: 0.6rem;
  cursor: pointer;
}

.nav__link:hover {
  color: #fa5757;
}

.nav__button {
  background-color: #fa5757;
  padding: 0.5rem 1.5rem;
}

.nav__button:hover {
  color: #fa5757;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px #fa5757;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.05), inset 0px 0px 0px 1px #fa5757;
}
/*# sourceMappingURL=main.css.map */